<div class="main_container">
    <div class="container_wrapper" fxLayout="column">
        <div class="cart_header" fxLayout="row">
            <p style="font-weight: 500;"><span style="color: #9D9D9D;">Home/ </span>My cart</p>
        </div>
        <!-- Cart Container -->
        <div class="cart_container">
            <div class="cart_head">
                <div style="margin-top: 13px; font-weight: 500; font-size: 14px; cursor: pointer;" (click)="cartShow()">
                    My cart&nbsp;({{cartItemsCount}})
                </div>
                <div class="user_location">
                    <mat-form-field appearance="outline">
                        <mat-label><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Use current location</mat-label>
                        <mat-select>
                            <mat-option value="NaviMumbai">Navi Mumbai</mat-option>
                            <mat-option value="Mumbai">Mumbai</mat-option>
                            <mat-option value="Delhi">Delhi</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="cartHide">
                <div class="book_details" *ngFor="let cart of cartItems">
                    <div>
                        <img class="bookImage" [src]="cart?.bookImage" alt="">
                        <span class="outOfStock" *ngIf="cart?.bookId == outOfStock?.bookId">OUT OF STOCK</span>
                    </div>
                    <div class="bookInfo">
                        <div class="bookName">{{cart?.bookName}}</div>
                        <div class="authorName">by {{cart?.authorName}}</div>
                        <div class="book_cost">
                            <p class="discountPrice">Rs.{{cart.discountPrice*cart.bookQuantity}}</p>
                            <p class="actualPrice"><s>Rs.{{cart.actualPrice*cart.bookQuantity}}</s></p>
                        </div>
                        <div class="cartButtons">
                            <button class="minus_button" (click)="minusCartBook(cart)" [disabled]="cart?.bookQuantity==1">-</button>
                            <p>{{cart.bookQuantity}}</p>
                            <button class="plus_button" (click)="plusCartBook(cart)">+</button>
                            <span class="removetext" (click)="removeFromCart(cart)">Remove</span>
                        </div>
                    </div>
                </div>
                <div class="removebutton">
                    <button class="orderButton" *ngIf="bookQuantity>0" (click)="cartShowHide()">Continue</button>
                </div>
            </div>
        </div>
        <!-- Address Container -->
        <div class="address_container">
            <div *ngIf="!addressHeaderHide" style="margin-top: 13px; font-weight: 500; font-size: 14px; cursor: pointer;">
                Address&nbsp;Details
            </div>
            <div *ngIf="addressHeaderHide" class="customer_address">
                <form [formGroup]="customerAddressForm">
                    <div class="address_header" *ngIf="addressHeaderHide">
                        <p style="margin-top: 13px; font-weight: 500; font-size: 14px; cursor: pointer;">
                            Customer&nbsp;Details
                        </p>
                        <button class="address_add_button" type="button" (click)="addressShowHide()" *ngIf="addressHeaderShowHide && !addressHide">Add Address</button>
                        <button class="address_add_button" type="button" (click)="addNewAddress()" *ngIf="addressHeaderShowHide && addressHide">Add Address</button>
                    </div>
                    <div class="customer_info" *ngIf="addressHide">
                        <div class="fullName">
                            <mat-label>Full Name</mat-label>
                            <mat-form-field appearance="outline">
                                <input disabled matInput [value]="fullName">
                            </mat-form-field>
                        </div>
                        <div class="fullName">
                            <mat-label>Mobile Number</mat-label>
                            <mat-form-field appearance="outline">
                                <input disabled matInput [value]="mobileNumber">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="cutomer_address_info" *ngIf="addressHide">
                        <div class="address_edit">
                            <div>
                                <p>Address</p>
                            </div>
                            <div>
                                <button mat-button type="button" class="address_edit_button" (click)="editAddress()" *ngIf="customerAdressObj?.address !== 'undefined'">Edit Or Select</button>
                            </div>
                        </div>
                        <div>
                            <textarea type="text" class="addressInput" placeholder="Address" formControlName="address" [ngModel]="customerAdressObj?.address"></textarea>
                        </div>
                        <div class="customer_city">
                            <div class="fullName">
                                <mat-label>city/town</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="City" formControlName="city" [ngModel]="customerAdressObj?.city">
                                </mat-form-field>
                            </div>
                            <div class="fullName">
                                <mat-label>state</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="State" formControlName="state" [ngModel]="customerAdressObj?.state">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="addresstype" fxLayout="column" fxLayoutGap="7px">
                            <span>Type</span>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button *ngIf="isUpdate == false" [disabled]="submitted" type="button" class="home" (click)="addressTypevalue(1)" value="1">Home</mat-radio-button>
                                <mat-radio-button *ngIf="isUpdate == true" [disabled]="submitted" type="button" class="home" (click)="submitted ? false :getAddress(1)" (click)="updateTypevalue(1)" value="1">Home</mat-radio-button>
                                <mat-radio-button *ngIf="isUpdate == false" [disabled]="submitted" type="button" class="work" (click)="addressTypevalue(2)" value="2">Work</mat-radio-button>
                                <mat-radio-button *ngIf="isUpdate == true" [disabled]="submitted" type="button" class="work" (click)="submitted ? false : getAddress(2)" (click)="updateTypevalue(2)" value="2">Work</mat-radio-button>
                                <mat-radio-button *ngIf="isUpdate == false" [disabled]="submitted" type="button" class="other" (click)="addressTypevalue(3)" value="3">Others</mat-radio-button>
                                <mat-radio-button *ngIf="isUpdate == true" [disabled]="submitted" type="button" class="other" (click)="submitted ? false : getAddress(3)" (click)="updateTypevalue(3)" value="3">Others</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <button type="submit" (click)="onSubmit(customerAdressObj)" class="continueButton">CONTINUE</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Order Summary Container -->
        <div class="summary_container">
            <div class="cart_head">
                <div class="summary_head">
                    Orders Summary
                </div>
            </div>
            <div *ngIf="summaryHide">
                <div class="book_details" *ngFor="let cart of cartItems">
                    <div><img class="bookImage" [src]="cart?.bookImage" alt=""></div>
                    <div class="bookInfo">
                        <div class="bookName">{{cart?.bookName}}</div>
                        <div class="authorName">by {{cart?.authorName}}</div>
                        <div class="book_cost">
                            <p class="discountPrice">Rs.{{cart.discountPrice*cart.bookQuantity}}</p>
                            <p class="actualPrice"><s>Rs.{{cart.actualPrice*cart.bookQuantity}}</s></p>
                        </div>
                    </div>
                </div>
                <div class="placeorderbutton">
                    <button class="orderButton" (click)="addOrder(customerAdressObj?.addressId)">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>