.container_wrapper {
    margin: 0 0 0 150px;
    height: auto;
    padding-bottom: 100px;
}

.cart_header {
    margin: 15px 15px;
}

.cart_container {
    border: 2px solid #DCDCDC;
    width: 65%;
    height: auto;
    padding: 10px 30px 10px 30px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.cart_head {
    display: flex;
    margin-bottom: -15px;
}

.user_location {
    margin-left: auto;
}

 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 40px;
}

 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    margin-top: -7.5px;
}

.book_details {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bookInfo {
    margin-left: 30px;
    font-size: 15px;
}

.bookImage {
    height: 84px;
    width: 65px;
}

.outOfStock {
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
    opacity: 1;
    position: absolute;
    color: #0A0102;
    cursor: pointer;
    margin-top: -54px;
    margin-left: -2px;
}

.bookName {
    font-size: 16px;
    color: #0A0102;
    margin-bottom: 5px;
}

.authorName {
    font-size: 13px;
    color: #9D9D9D;
    margin-bottom: 5px;
}

.book_cost {
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.discountPrice {
    font-family: normal normal bold 12px/16px Roboto;
    color: #0A0102;
    font-size: 16px;
    font-weight: 400;
}

.actualPrice {
    margin-left: 10px;
    font-size: 13px;
    font-family: normal normal normal 10px/13px Roboto;
    color: #878787;
    font-weight: 400;
}

.cartButtons {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.minus_button,
.plus_button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    font-size: 20px;
    cursor: pointer;
    color: #333232;
}

.cartButtons p {
    text-align: center;
    height: 20px;
    width: 40px;
    font-size: 15px;
    margin: 0 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    padding: 1px;
}

.removetext {
    margin: 10px 15px;
    color: #0A0102;
    cursor: pointer;
    margin-left: 20px;
    font-size: 14px;
}

.removebutton {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
}

.orderButton {
    background-color: #3371B5;
    color: #ffffff;
    border: none;
    font-size: 15px;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
}

.address_container {
    border: 2px solid #DCDCDC;
    width: 65%;
    height: auto;
    padding: 10px 30px 25px 30px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 15Px;
}

.address_header {
    display: flex;
    margin-bottom: 20px;
}

.address_edit {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
}

.address_add_button {
    margin-left: auto;
    color: #A03037;
    background-color: #ffffff;
    border: 1px solid #A03037;
    border-radius: 2px;
    padding: 0px 15px;
}

.address_edit_button {
    margin-left: auto;
    color: #A03037;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    padding: 0px 15px;
    margin-top: -8px;
}

.customer_info {
    display: flex;
    gap: 10px;
    margin-left: 35px;
}

.fullName {
    display: flex;
    flex-direction: column;
    width: 30%;
}

 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    margin-top: -10.5px;
}

.cutomer_address_info {
    margin-left: 35px;
}

.addressInput {
    height: 50px;
    width: 61%;
    color: #0A0102;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    resize: none;
    padding: 8px 8px;
    font-size: 14px;
    font-weight: 500;
    font-family: normal normal normal 12px/16px Roboto;
    border-radius: 5px;
}

textarea:disabled {
    cursor: default;
    border-color: rgba(118, 118, 118, 0.3) !important;
    color: #878787;
}

.customer_city {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.addresstype {
    margin-bottom: 30px;
}

.continueButton {
    float: right;
    background-color: #3371B5;
    color: #f5f3f3;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    height: 30px;
    width: 150px;
    margin-top: -10px;
    cursor: pointer;
}

 ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #A03037 !important;
}

 ::ng-deep .mat-radio-outer-circle {
    border-color: #A03037 !important;
    height: 15px !important;
    width: 15px !important;
}

 ::ng-deep .mat-radio-inner-circle {
    border-color: #A03037 !important;
    height: 15px !important;
    width: 15px !important;
}

 ::ng-deep .mat-radio-label-content {
    margin-top: -6px;
    padding-left: 2px !important;
}

.home,
.work,
.other {
    margin-left: 5px;
    margin-right: 30px;
}

.summary_container {
    border: 2px solid #DCDCDC;
    width: 65%;
    height: auto;
    padding: 10px 30px 25px 30px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.summary_head {
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding: 7px 0px;
}

.placeorderbutton {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
}

::ng-deep .mat-snack-bar-container {
    width: 100px;
}

@media (max-width: 850px) {
    .main_container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .container_wrapper {
        width: 100%;
        margin-left: 10%;
        height: auto;
        padding-bottom: 100px;
    }
    .cart_container {
        width: 75%;
    }
    .address_container {
        width: 75%;
    }
    .summary_container {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .main_container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .container_wrapper {
        width: 100%;
        margin-left: 4%;
        height: auto;
        padding-bottom: 100px;
    }
    .cart_container {
        width: 75%;
    }
    .customer_info {
        width: 90%;
        flex-direction: column;
        justify-content: center;
    }
    .customer_city {
        width: 90%;
        flex-direction: column;
    }
     ::ng-deep.mat-form-field {
        width: 200px;
    }
    .addressInput {
        width: 73%;
    }
    .fullName {
        width: 40%;
    }
}

@media (max-width: 400px) {
    .container_wrapper {
        margin-left: 0%;
    }
}