.register_container {
    background-color: #9D9D9D;
    width: 100%;
    height: 100%;
}

.imagecontainer {
    background-color: #F5F5F5;
    width: 624px;
    height: 391px;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.formimage {
    width: 245px;
    height: 245px;
    border-radius: 130px;
    margin-left: 40px;
    margin-top: 50px;
}

.text {
    font-size: 17px;
    font-family: normal normal medium 18px/24px Roboto;
    color: #0A0102;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 70px;
    padding-top: 20px;
}

.form_container {
    width: 380px;
    height: 450px;
    margin-left: -300px;
    box-shadow: 0px 5px 15px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: 1px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_head {
    display: flex;
    width: 232px;
    height: 30px;
    justify-content: space-between;
    padding: 30px 90px 20px 90px;
    margin-left: 4px;
}

.login {
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: -10px;
}

.login_active {
    color: #0A0102;
    border-bottom: 3px solid #A03037;
}

.signup {
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: -12px;
}

.line {
    margin: 0px 30px;
    height: 6px;
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 4px;
}

.signup_active {
    border-bottom: 3px solid #A03037;
    color: #0A0102;
}

.form {
    width: 220px;
    height: 300px;
    margin-left: -30px;
}

::ng-deep .mat-form-field {
    width: 252px;
    height: 30px;
    margin-top: -17px;
}

.form_feild {
    margin-top: 15px !important;
}

::ng-deep .mat-label {
    margin: 0px I!important;
}

::ng-deep .mat-form-field-flex {
    height: 35px !important;
    margin-top: 8px !important;
    align-items: center !important;
    justify-content: center !important;
    background: transparent !important;
}

::ng-deep .mat-input-element {
    margin-bottom: 7px !important;
    width: 232px !important;
}

.signupbutton {
    width: 252px;
    background-color: #A03037;
    color: #ffffff;
    margin-top: 25px;
}

::ng-deep .mat-divider {
    width: 2px !important;
    color: #A03037 !important;
}

.mat-error {
    color: #f44336;
    margin-left: -10px;
    margin-top: -1px;
}

@media (max-width: 700px) {
    .imagecontainer {
        display: none;
    }
    .form_container {
        width: 60%;
        margin-left: 0%;
        height: 500px;
    }
    .form_head {
        padding: 60px 90px 20px 90px;
        margin-left: 4px;
    }
}

@media (max-width: 600px) {
    .register_container {
        align-items: center !important;
        justify-content: center !important;
    }
    .imagecontainer {
        display: none;
    }
    .form_head {
        padding: 60px 90px 20px 90px;
        margin-left: 4px;
        margin-top: -5px;
    }
    .register_container {
        background-color: #ffffff;
    }
    .form_container {
        margin-top: 40px;
        width: 100%;
        height: 100%;
        box-shadow: none;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: none;
        border: none;
        margin-left: -5px;
    }
}