<div class="forgotpassword_container">
    <mat-toolbar>
        <button mat-icon-button class="book-icon" aria-label="Example icon-button with menu icon">
                <img src="../../../assets/images/booklogo.png" alt="">
            </button>
        <span class="forgot_text">Raj Bookstore</span>
    </mat-toolbar>
    <div class="forgotpass_form_layout" fxLayout="column" fxLayoutAlign="center center">
        <h2 class="forgotPass_header">Forgot your Password?</h2>
        <div class="forgotpass_form_container">
            <form #myForm="ngForm" [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()" class="forgotpassform">
                <p class="forgotpassformemailinfo">Enter your email address and we'll send you a link to reset your password.</p>
                <div fxLayout="column">
                    <mat-label style="font-size: 12px;">Email Id</mat-label>
                    <mat-form-field appearance="outline" class="forgotpassformfield">
                        <input matInput formControlName="emailId" placeholder="" class="matforgotpassinput">
                        <mat-error *ngIf="submitted && forgotPassForm.get('emailId')?.hasError('required')">Enter Email</mat-error>
                        <mat-error *ngIf="submitted && forgotPassForm.get('emailId')?.errors?.['pattern']">Enter Valid Email</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button class="forgotpassbutton" mat-flat-button>Next</button>
                </div>
                <div>
                    <button class="createbutton" mat-flat-button routerLink="/register">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>