.forgotpassword_container {
    height: 100%;
    width: 100%;
}

.book-icon {
    margin-left: 164px;
}

.mat-toolbar {
    background: #A03037;
    color: #ffffff;
}

.forgot_text {
    margin-left: 5px;
}

.forgotpass_form_layout {
    margin-top: 70px;
}

.forgotPass_header {
    font-family: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    font-size: 25px;
    color: #0A0102;
}

.forgotpass_form_container {
    width: 450px;
    height: 350px;
    box-shadow: 0px 5px 15px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: 1px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.forgotpassform {
    width: 300px;
    height: 300px;
    margin-left: -20px;
}

.forgotpassformemailinfo {
    text-align: left;
    font-family: normal normal normal 15px/20px Roboto;
    margin-top: 20px !important;
    color: #878787;
}

::ng-deep .mat-label {
    margin: 0px I!important;
}

::ng-deep .mat-form-field-flex {
    height: 45px !important;
    margin-top: 8px !important;
    align-items: center !important;
    justify-content: center !important;
    background: transparent !important;
}

::ng-deep .forgotpassformfield {
    height: 90px !important;
    width: 300px !important;
}

::ng-deep .matforgotpassinput {
    margin-bottom: 7px !important;
    width: 332px !important;
    height: 30px !important;
}

.forgotpassbutton {
    width: 300px;
    background-color: #A03037;
    color: #ffffff;
    margin-top: 5px;
}

.createbutton {
    width: 300px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    margin-top: 30px;
}

.mat-error {
    color: #f44336;
    margin-left: -10px;
    margin-top: -1px;
}

@media (max-width: 600px) {
    .book-icon {
        margin-left: 30px;
    }
    .forgotpass_form_container {
        width: 85%;
        box-shadow: none;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 6px;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}