.register_container {
    background-color: #9D9D9D;
    width: 100%;
    height: 100%;
}

.imagecontainer {
    background-color: #F5F5F5;
    width: 624px;
    height: 391px;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.formimage {
    width: 245px;
    height: 245px;
    border-radius: 130px;
    margin-left: 40px;
    margin-top: 50px;
}

.text {
    font-size: 17px;
    font-family: normal normal medium 18px/24px Roboto;
    color: #0A0102;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 70px;
    padding-top: 20px;
}

.form_container {
    width: 380px;
    height: 450px;
    margin-left: -300px;
    box-shadow: 0px 5px 15px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: 1px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_head {
    display: flex;
    width: 232px;
    height: 30px;
    justify-content: space-between;
    padding: 30px 90px 20px 90px;
    margin-left: 4px;
}

.login {
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: -10px;
}

.login_active {
    color: #0A0102;
    border-bottom: 3px solid #A03037;
}

.signup {
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: -12px;
}

.signup_active {
    border-bottom: 3px solid #A03037;
    color: #0A0102;
}

.form {
    width: 220px;
    height: 300px;
    margin-left: -30px;
}

::ng-deep .mat-form-field {
    width: 252px;
    height: 30px;
    margin-top: -17px;
}

.form_feild {
    margin-top: 15px !important;
}

::ng-deep .mat-label {
    margin: 0px I!important;
}

::ng-deep .mat-form-field-flex {
    height: 35px !important;
    margin-top: 8px !important;
    align-items: center !important;
    justify-content: center !important;
    background: transparent !important;
}

::ng-deep .mat-input-element {
    margin-bottom: 7px !important;
    width: 232px !important;
    // height: 30px !important;
}

.signupbutton {
    width: 252px;
    background-color: #A03037;
    color: #ffffff;
    margin-top: 5px;
}

.or {
    margin-top: 10px;
}

h2 {
    padding-left: 110px;
}

.button_container {
    margin-top: 20px;
    width: 252px;
}

.facebookbutton {
    width: 130px;
}

.googlebutton {
    width: 122px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    margin-left: 10px;
}

.mat-error {
    color: #f44336;
    margin-left: -10px;
    margin-top: -1px;
}

.forgotPassButton {
    background-color: transparent;
    font-size: 12px;
    padding: 2px 5px;
    margin-top: -8%;
    color: #9D9D9D;
    margin-left: 145px;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
    font-size: 12px;
    padding: 2px 5px;
    margin-top: -8%;
    color: #9D9D9D;
    margin-left: 140px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #A03037 !important;
}

::ng-deep .mat-radio-outer-circle {
    border-color: #A03037 !important;
    height: 15px !important;
    width: 15px !important;
}

::ng-deep .mat-radio-inner-circle {
    border-color: #A03037 !important;
    height: 14px !important;
    width: 15px !important;
}

::ng-deep .mat-radio-label-content {
    margin-top: -6px;
    padding-left: 2px !important;
}

.userradiobutton {
    margin-left: 25px;
    margin-bottom: 5px;
}

.radiotype {
    justify-content: space-between;
    width: 252px;
    margin-bottom: 5px;
}

@media (max-width: 700px) {
    .imagecontainer {
        display: none;
    }
    .form_container {
        width: 60%;
        margin-left: 0%;
        height: 500px;
    }
    .form_head {
        padding: 60px 90px 20px 90px;
        margin-left: 4px;
    }
}

@media (max-width: 600px) {
    .register_container {
        align-items: center !important;
        justify-content: center !important;
    }
    .imagecontainer {
        display: none;
    }
    .form_head {
        padding: 60px 90px 20px 90px;
        margin-left: 4px;
        margin-top: -5px;
    }
    .register_container {
        background-color: #ffffff;
    }
    .form_container {
        margin-top: 40px;
        width: 100%;
        height: 100%;
        box-shadow: none;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: none;
        border: none;
        margin-left: -5px;
    }
}