<div class="register_container" fxLayout="row" fxLayoutAlign="center center">
    <div class="imagecontainer">
        <div>
            <img class="formimage" src="../../../assets/images/component.png" alt="">
        </div>
        <div class="text">
            Online Book Shopping
        </div>
    </div>
    <div class="form_container">
        <div class="form_head">
            <div [ngClass]="category == false ? 'login' : 'login login_active'" (click)="login()">
                <P>Login</P>
            </div>
            <div [ngClass]="category == true ? 'signup' : 'signup signup_active'" (click)="register()">
                <p>Signup</p>
            </div>
        </div>
        <form #myForm="ngForm" [formGroup]="loginForm" class="form">
            <div class="">
                <mat-label style="font-size: 12px;">Email Id</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="emailId" placeholder="">
                    <mat-error *ngIf="submitted && loginForm.get('emailId')?.hasError('required')">Enter Email</mat-error>
                    <mat-error *ngIf="submitted && loginForm.get('emailId')?.errors?.['pattern']">Enter Valid Email</mat-error>
                </mat-form-field>
            </div>
            <div class="form_feild">
                <mat-label style="font-size: 12px;">Password</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="submitted && loginForm.get('password')?.hasError('required')">Enter Password</mat-error>
                    <mat-error *ngIf="submitted && loginForm.get('password')?.errors?.['pattern']">Enter Valid Password</mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button color="primary" type="button" class="forgotPassButton" (click)="forgotpassword()">Forgot Password?</button>
            </div>
            <div class="radiotype" fxLayout="row">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="admin" (click)="admin()">Admin</mat-radio-button>
                    <mat-radio-button value="user" (click)="userReg()" class="userradiobutton">User</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <button class="signupbutton" (click)="onSubmit()" mat-flat-button>Login</button>
            </div>
            <div class="or">
                <h2>OR</h2>
            </div>
            <div>
                <div class="button_container" fxLayout="row" fxLayoutAlign="space-between">
                    <button class="facebookbutton" mat-flat-button color="primary">Facebook</button>
                    <button class="googlebutton" mat-flat-button>Google</button>
                </div>
            </div>
        </form>
    </div>
</div>