<div class="forgotpassword_container">
    <mat-toolbar>
        <button mat-icon-button class="book-icon" aria-label="Example icon-button with menu icon">
                <img src="../../../assets/images/booklogo.png" alt="">
            </button>
        <span class="text">Raj Bookstore</span>
    </mat-toolbar>
    <div class="form_layout" fxLayout="column" fxLayoutAlign="center center">
        <h2>Reset your Password?</h2>
        <div class="form_container">
            <form #myForm="ngForm" [formGroup]="resetPassForm" class="form">
                <p class="emailinfo">Enter your new password and confirm password to reset your password.</p>
                <div fxLayout="column">
                    <mat-label style="font-size: 12px; margin-bottom: -12px;">New Password</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="" formControlName="newpassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                        <mat-error *ngIf="submitted && resetPassForm.get('newpassword')?.hasError('required')">Enter Password</mat-error>
                        <mat-error *ngIf="submitted && resetPassForm.get('newpassword')?.errors?.['pattern']">Enter Valid Password</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="column">
                    <mat-label style="font-size: 12px; margin-bottom: -12px;">Confirm Password</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="" formControlName="confirmpassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                        <mat-error *ngIf="submitted && resetPassForm.get('confirmpassword')?.hasError('required')">Enter Password</mat-error>
                        <mat-error *ngIf="submitted && resetPassForm.get('confirmpassword')?.errors?.['pattern']">Enter Valid Password</mat-error>
                        <mat-error *ngIf="submitted && resetPassForm.get('confirmpassword')?.errors?.['mustMatch']">Confirm password doesn't match</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button class="signupbutton" (click)="onSubmit()" mat-flat-button>Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>