<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="pagenotfound" fxLayout="column" style="background-color: #E4E4E4; height: 50%; width: 50%; justify-content: space-between; align-items: center; padding: 50px; border-radius: 10px">
        <div fxLayout="row" style="margin-bottom: 10px">
            <p class="head_bounce" style="font-size: 35px ; color: #A03037; font-weight:500; margin-right: 2px;">B</p>
            <p class="head_bounce" style="font-size: 30px ; color: #ffffff; font-weight:500; margin-right: 2px;">O</p>
            <p class="head_bounce" style="font-size: 35px ; color: #A03037; font-weight:500; margin-right: 2px;">O</p>
            <p class="head_bounce" style="font-size: 30px ; color: #ffffff; font-weight:500; margin-right: 2px;">K</p>
            <p class="head_bounce" style="font-size: 35px ; color: #A03037; font-weight:500; margin-right: 2px;">S</p>
            <p class="head_bounce" style="font-size: 30px ; color: #ffffff; font-weight:500; margin-right: 2px;">T</p>
            <p class="head_bounce" style="font-size: 30px ; color: #A03037; font-weight:500; margin-right: 2px;">O</p>
            <p class="head_bounce" style="font-size: 30px ; color: #ffffff; font-weight:500; margin-right: 2px;">R</p>
            <p class="head_bounce" style="font-size: 30px ; color: #A03037; font-weight:500; margin-right: 2px;">E</p>
        </div>
        <div style="margin-top: 20px">
            <span style=" font-size: 100px; color: #A03037;">4</span>
            <span style=" font-size: 100px; color: #ffffff;">0</span>
            <span style=" font-size: 100px; color: #A03037;">4</span>
        </div>
        <div style="text-align: center; font-size: 20px; color: #A03037;">
            The Page You Requested Could Not Be Found
        </div>
        <div>
            <button mat-raised-button routerLink="/login" type="submit" class="pagenoutfound_button" style="width: 150px; color:#A03037;">Go To Login</button>
        </div>
    </mat-card>
</div>